form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="button"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #3e8e41;
}
